body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    width: 800px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.funcionalidades, .unable-actions, .encorajamento {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}
.funcionalidades, .unable-actions, .encorajamento p {
    font-size: 14px;
    line-height: 1.6;
}
.funcionalidades, .unable-actions, .encorajamento a {
    text-decoration: none;
}
